#cuerpo{
    background-color: whitesmoke;
}

.Container-Header{
    background-image: url(images/banner.png);
    background-color: cornflowerblue;
        
}

#titulo-inicio, #subtitulo-inicio{
    color:whitesmoke;
    font-family: Helvetica, sans-serif;
}